body {
  font-family: var(--font-roboto), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 0;
  margin-top: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
* {
  box-sizing: border-box;
}
/* body {
  background-color: red;
} */
