.container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  flex: 1;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.sidebar {
  width: 250px;
  background-color: #2c2c2c;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  border-right: 1px solid #ddd;
}
@media (max-width: 767px) {
  .sidebar {
    /* height: 100%; */

    width: 100%;

    text-align: center;
    border-right: none;
  }
}
/* @media (min-width: 768px) {
  .sidebar {
    height: 100vh;
  }
} */
.notesWrapper {
  width: 100%;
}
